
.button{
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	padding: 16px 40px;
	line-height: 1.25;
	color: #FFFFFF;
	letter-spacing: 0.5px;
	font-weight: 700;
	display: inline-block;
	position: relative;
}
.button span{
	position: relative;
	z-index: 2;
}
.button::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	transition: opacity 0.3s ease 0s;
	opacity: 0;
	border-radius: 4px;
	background: linear-gradient(55.95deg, #ca3530 0%, #c94d05 100%);
	width: 100%;
	height: 100%;
	
}
.button:hover::before{
	opacity: 1;
	
	
}
.button--border {
	background: transparent;
	position: relative;
	color: #FF3F3A;
	border: 2px solid #FF3F3A;
	padding: 14px 38px;

	transition: all 0.3s ease 0s;
}
.button--border:hover{
	background-color: #FF3F3A;
	color: white;
}